<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
<!--     <meta http-equiv="refresh" content="900000"> -->
    <title>tuc</title>
    <link rel="icon" href="{% static 'image/favicon-128.ico' %}">
</head>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/laydate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!--
<style type="text/css">
*{margin:0;padding:0;list-style:none;}
html{ font-size:14px; color:#000; font-family:'微软雅黑'}
h2{line-height:30px; font-size:20px;}
a,a:hover{ text-decoration:none;}
pre{font-family:'微软雅黑'}
.box{width:970px; padding:10px 20px; background-color:#fff; margin:10px auto;}
.box a{padding-right:20px;}
.demo1,.demo2,.demo3,.demo4,.demo5,.demo6{margin:25px 0;}
h3{margin:10px 0;}
.layinput{height: 22px;line-height: 22px;width: 150px;margin: 0;}
</style>
-->
<body>
    <p id="abc"></p>
<div style="display:inline-block;width:100%;min-width: 1551px;">
    <div style="width:25%;position:relative;float:left">
        <div style="position:relative;margin-left: 10%;margin-top: 15%">
            <img src="{% static 'image/tuc.png' %}"  alt="TUC"  style="position:relative;margin: auto;" />
        </div>
        <div style="width: 100%;position:relative;margin-left: 15%;">
            <img src="{% static 'image/lingtong.png' %}"  alt="TUC"  style="position:relative;margin: auto;" />
        </div>
    </div>
    <div style="width: 75%;position:relative;float:left;margin-top: 3%">
        <div style="background-color:#fff;float:left;width: 60%;" >
        <!--    
        <div >
            <form id="theForm" action="/downloadDataRule2/" method="get">
                <h3>起始时间</h3>
                <input id="starttime" name="thestarttime" placeholder="请输入日期" class="laydate-icon" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                <h3>终止时间</h3>
                <input id="endtime" name="theendtime" placeholder="请输入日期" class="laydate-icon" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                <input id="formsm" type="button" class="button button-primary"  value="下载" onclick="formSubmit()">
            </form>
        </div>
        -->
            
            <form id="IMSIForm" action="/ResultIMSI/" method="get">
                <h3>请输入IMSI号</h3>
                <input id="imsi_num" name="imsi_num" placeholder="请输入IMSI号" value="{{contacts.imsi}}">
                <input id="searchimsi" type="button" class="button button-primary"  value="查询" onclick="SearchIMSI()">
            </form>
            
            <table style="width:100%;">
                <thead>
                <tr style="height: 20px">
                    <th colspan="6" style="text-align: center" id="title"></th>
                <tr>
                <tr>
                    <th width="140">IMSI</th>
                    <!--<th width="140">TMSI</th>-->
                    <th width="140">运营商</th>
                    <th width="140">时间</th>
                    <th width="140">经度</th>
                    <th width="140">纬度</th>
                </tr>
                </thead>
                <tbody id="tabledata">
                {% for contact in contacts %}
                <tr>
                    <td style="text-align: center">{{ contact.c_imsi }}</td>
                    <!--<td style="text-align: center">{{ contact.c_tmsi }}</td>-->
                    {% if contact.machine_type == 1 %}
                        {% if contact.c_isp == "5" %}
                            <td style="text-align: center">移动</td>
                        {% elif contact.c_isp == "7" %}
                            <td style="text-align: center">电信</td>
                        {% elif contact.c_isp == "9" %}
                            <td style="text-align: center">联通</td>
                        {% else %}
                            <td style="text-align: center">未知</td>
                        {% endif %}
                    {% else %}
                        {% if contact.c_fcn >= 37900 and contact.c_fcn <= 38950 %}
                            <td style="text-align: center">移动</td>
                        {% elif contact.c_fcn == 1825 or contact.c_fcn == 100 %}
                            <td style="text-align: center">电信</td>
                        {% elif contact.c_fcn == 1650 %}
                            <td style="text-align: center">联通</td>
                        {% else %}
                            <td style="text-align: center">未知</td>
                        {% endif %}
                    {% endif %}
                    <td style="text-align: center">{{ contact.c_time }}</td>
                    <td style="text-align: center">{{ contact.c_lon }}</td>
                    <td style="text-align: center">{{ contact.c_lat }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination" align="center">
                <span id="tabledata" class="step-links">
                    {% if contacts.has_previous %}
                        <a href="?page={{ contacts.previous_page_number }}&imsi_num={{contacts.imsi}}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                    </span>

                    {% if contacts.has_next %}
                        <a href="?page={{ contacts.next_page_number }}&imsi_num={{contacts.imsi}}">next</a>
                    {% endif %}
                </span>
            </div>
            <div>
                <form id="theForm" action="/ResultTime/" method="get" target="_blank">
                    <h3>起始时间</h3>
                    <input id="starttime" name="thestarttime" placeholder="请输入日期" class="laydate-icon" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                    <h3>终止时间</h3>
                    <input id="endtime" name="theendtime" placeholder="请输入日期" class="laydate-icon" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                    <input id="formsm" type="button" class="button button-primary"  value="查询下载" onclick="formSubmit()">
                </form>
            </div>
        </div>
        <div style="position:relative;float:left;width:33%;margin-left: 1%;margin-top: 1%">
            <img src="{% static 'image/mobisens.jpg' %}"  style="width:265px;"  alt="TUC" />
        </div>
    </div>
</div>
</body>
<script>
<!--
function checkStartTime()
{
    if(document.getElementById("starttime").value == '')
    {
        alert("请选择起始时间！");
        return false;
    }
    else
    {
        return true;
    }
}
function checkEndTime()
{
    if(document.getElementById("endtime").value == '')
    {
        alert("请选择结束时间！");
        return false;
    }
    else
    {
        return true;
    }
}
function formSubmit()
{
    if(checkStartTime()&&checkEndTime())
    {
        document.getElementById("theForm").submit();
    }
}
function checkIMSI()
{
    if(document.getElementById("imsi_num").value == '')
    {
        alert("输入不得为空！");
        return false;
    }
    else
    {
        return true;
    }
}
function SearchIMSI()
{
    if(checkIMSI())
    {
        document.getElementById("IMSIForm").submit();
    }
}
//-->
</script>
<script></script>
<script type="text/javascript">
setInterval("gettabledata()",3000);
function gettabledata() {
    $.ajax({
        type: "GET",
        url: "ajaxtabledata/",
        timeout: 60000,
        async: true,
        data: "page={{ contacts.number }}&imsi_num={{contacts.imsi}}",
        success: function(data, textStatus) {
            //var data_list = data.parseJSON();
            var data_list =  eval('(' + data + ')');
            updatetbody(data_list);
            //alert(data);
            //$("#abc").html(data);
            //$("#abc").html(data);


        }
    });
}
function updatetbody(data_list){
    var tbody_content = "";
    for(var i = 0; i < data_list.length; i ++){
        var c_imsi = data_list[i].fields.c_imsi;
        var c_fcn = data_list[i].fields.c_fcn;
        var c_time = data_list[i].fields.c_time;
        var c_lon = data_list[i].fields.c_lon;
        var c_lat = data_list[i].fields.c_lat;
        var machine_type = data_list[i].fields.machine_type;
        var c_isp = data_list[i].fields.c_isp;
        if(machine_type == 1){
            if(c_isp == 5){
                c_isp = "移动";
            }
            else if(c_isp == 7){
                c_isp = "电信";
            }
            else if(c_isp == 9){
                c_isp = "联通";
            }
            else{
                c_isp = "未知";
            }
        }
        else{
            if(c_fcn >= 37900 && c_fcn <= 38950){
                c_isp = "移动";
            }
            else if(c_fcn == 1825 || c_fcn == 100){
                c_isp = "电信";
            }
            else if(c_fcn == 1650){
                c_isp = "联通";
            }
            else{
                c_isp = "未知";
            }
        }
        tbody_content += '<tr>';
        tbody_content += '<td style="text-align: center">'+c_imsi+'</td>';
        tbody_content += '<td style="text-align: center">'+c_isp+'</td>' ;
        tbody_content += '<td style="text-align: center">'+c_time+'</td>';
        tbody_content += '<td style="text-align: center">'+c_lon+'</td>';
        tbody_content += '<td style="text-align: center">'+c_lat+'</td>';
        tbody_content += '</tr>';
    }
    $("#tabledata").html(tbody_content);
};
</script>
</html>
